* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}
:root {
  --siteMaxWidth: 1440px;
  --sitePadding: 2rem;

  --coreFont:
    "Satoshi", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell,
    Ubuntu, roboto, noto, arial, sans-serif;
  --headingFont: "Zodiak", Garamond, "Times New Roman", Georgia, serif;

  --clrPrimary: #000;
  --clrSecondary: #000;
}
:root[data-theme="dark"] {
  --clrBg: #000;
  --clrBgLight: #282828;
  --clrHeading: #ffffff;
  --clrText: #ffffff;
  --clrDetail: #858585;
  --clrBorder: #000;
}
:root[data-theme="light"] {
  --clrBg: #ffffff;
  --clrBgLight: #d4d4d4;
  --clrHeading: #000;
  --clrText: #000;
  --clrDetail: #858585;
  --clrBorder: #000;
}
html {
  font-family: var(--coreFont);
  font-size: 62.5%;
  color: var(--clrText);
  background-color: var(--clrBg);
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-size: 1.6rem;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
nav,
header,
main,
nav,
footer {
  flex-shrink: 0;
}
nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
main {
  flex-grow: 1;
}
nav,
header,
section,
footer {
  padding-right: var(--sitePadding);
  padding-left: var(--sitePadding);
  background: red;
}
.header-content,
.section-content {
  margin: 0 auto;
  max-width: var(--siteMaxWidth);
}
footer {
}
/* DEFAULTS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
  color: var(--clrHeading);
}
img,
svg {
  display: block;
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
ul,
ol {
  list-style-position: inside;
}
[popover] {
  color: inherit;
  border: none;
  height: auto;
}
summary {
  cursor: pointer;
}
details[open] summary {
  margin-bottom: 1rem;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/**/
