* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --siteMaxWidth: 1440px;
  --sitePadding: 2ch;
  --coreFont: "JetBrains Mono", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}
:root[data-theme="dark"] {
  --clrPrimary: #ff4000;
  --clrBg: hsl(from var(--clrPrimary) h s calc(l * 0.1));
  --clrText: #fff;
  --clrDetail: #858585; /* Todo */
  --clrBorder: #fff;
}
:root[data-theme="light"] {
  --clrPrimary: #000;
  --clrBg: #fff;
  --clrText: #000;
  --clrDetail: #858585; /* Todo */
  --clrBorder: #000;
}
html {
  font-family: var(--coreFont);
  font-size: 62.5%;
  color: var(--clrText);
  background: var(--clrBg);
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-size: 1.6rem;
  text-shadow: 0 0 0.1rem var(--clrPrimary), 0 0 0.25rem var(--clrPrimary), 0 0 0.5rem var(--clrPrimary),
    0 0 1rem var(--clrPrimary), 0 0 2.5rem var(--clrPrimary), 0 0 5rem var(--clrPrimary);
  overflow-x: hidden;
}
:root[data-theme="light"] body {
  text-shadow: none;
}
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
  background-size: 100% 0.4rem;
  animation: scanlines 1s steps(60) infinite;
  z-index: 9999;
  pointer-events: none;
}
:root[data-theme="light"] body::after {
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.05) 51%);
  background-size: 100% 0.4rem;
}
@keyframes scanlines {
  0% {
    background-position: 0 0.4rem;
  }
}
#app {
  display: flex;
  flex-direction: column;
  gap: 2ch;
  min-height: 100dvh;
}
#screen-glow {
  position: fixed;
  inset: 0;
  box-shadow: inset 0 0 2ch hsla(from var(--clrPrimary) h s l / 0.3);
  pointer-events: none;
  z-index: 9999;
}
header,
main {
  padding-left: var(--sitePadding);
  padding-right: var(--sitePadding);
}
#header-content,
section {
  margin: 0 auto;
  max-width: var(--siteMaxWidth);
  width: 100%;
}
header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 2ch;
  padding-bottom: 2ch;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(var(--clrBg) calc(100% - 1ch), transparent);
  z-index: 1000;
}
#header-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2ch;
  margin-bottom: 2ch;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 2ch;
}
nav li a {
  transition: all ease 0.2s;
}
nav li a:not(.active) {
  color: hsl(from var(--clrPrimary) h 0% 50%);
  text-shadow: none;
}
main {
  padding: 2ch 0;
  flex-grow: 1;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section:not(:last-child) {
  margin-bottom: 2ch;
}
#theme-toggle {
  position: fixed;
  bottom: var(--sitePadding);
  right: var(--sitePadding);
}
#not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* DEFAULTS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
  text-transform: uppercase;
}
img,
svg {
  display: block;
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
ul,
ol {
  list-style-position: inside;
}
button {
  all: unset;
  font-family: inherit;
  cursor: pointer;
}
button:disabled {
  cursor: auto;
  opacity: 0.5;
  pointer-events: none;
}
[popover] {
  color: inherit;
  border: none;
  height: auto;
}
summary {
  cursor: pointer;
}
details[open] summary {
  margin-bottom: 1ch;
}
::selection {
  color: var(--clrBg);
  background: var(--clrPrimary);
}
::-moz-selection {
  /* Can't mix both ::selection & moz */
  color: var(--clrBg);
  background: var(--clrPrimary);
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.spaced {
  letter-spacing: 1ch;
}
/**/
/* TODO: REMOVE */
pre {
  margin-bottom: 2ch;
}
/* NOTIFICATION */
.notification {
  clip-path: polygon(
    /* Topleft Down */ 0.34ch 1.45ch,
    /* Topleft Up */ 1.45ch 0.76ch,
    /* [ bottom */ 13.3ch 0.76ch,
    /* [ top */ 13.3ch 0.37ch,
    /* ] top */ calc(100% - 13.3ch) 0.37ch,
    /* ] bottom */ calc(100% - 13.3ch) 0.76ch,
    /* Topright Up */ calc(100% - 1.45ch) 0.76ch,
    /* Topright Down */ calc(100% - 0.34ch) 1.45ch,
    /* Topright Around Dot1 */ calc(100% - 0.34ch) 1.45ch,
    /* Topright Around Dot2 */ calc(100% - 0.41ch) 1.5ch,
    /* Bottomright up */ calc(100% - 0.41ch) calc(100% - 1.27ch),
    /* Bottomright down */ calc(100% - 1.2ch) calc(100% - 0.87ch),
    /* Bottomleft down */ 1.2ch calc(100% - 0.87ch),
    /* Bottomleft up */ 0.34ch calc(100% - 1.27ch)
  );
}
